.spot-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    padding: 120px;
    background-image: url('https://media.istockphoto.com/id/1180184210/photo/sky-cloud-pink-love-sweet-love-color-tone-for-wedding-card-background.jpg?b=1&s=612x612&w=0&k=20&c=oO_UHZ8EOACtQqZ6SekvhrbVesudj0l1C4cylUcjvY8=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 20px;
}
  .spot-card {
    background: rgb(251, 210, 210);
    border-radius: 8px;
    box-shadow: 0 6px 22px rgb(192, 85, 85);
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
  }
  .spot-card a {
    text-decoration: none;
    color: inherit;
  }
  .spot-card:hover {
    transform: translateY(-8px) scale(1.03);
  }
  .spot-image {
    width: 140%;
    height: 333px;
    object-fit: cover;
    display: block;
  }
  .spot-info {
    padding: 16px;
  }
  
  .spot-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3px;
    margin-bottom: 8px;
    color: black;
  }
    .spot-rating {
    color: #e75480;
    font-weight: bold;
  }
  .spot-price {
    font-size: 4px;
    color: black;
  }
.center-header {
  text-align: center;
  margin: 30px 0 20px 0; 
  font-size: 60px;
  color: rgb(151, 27, 105);

}

.custom-tooltip {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: antiquewhite;
  color: rgb(243, 95, 119);
  padding: 6px 16px;
  border: solid;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
  white-space: nowrap;
}